#include <behaviors.dtsi>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 480

#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#include "keycode_japanese.h"


#define DEFAULT 0
#define SYMBOL 1
#define NAVNUM 2
#define FCN 3

&mt {
    flavor = "hold-preferred";
};

&lt {
    flavor = "hold-preferred";
};

/ {
    behaviors {
        // Japanese settings
        minus: jp-minus {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp JP_MINUS>, <&kp JP_UNDER>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        semi: jp-semi {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp JP_SEMI>, <&kp JP_COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        sqt: jp-sqt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp JP_SQT>, <&kp JP_DQT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Hold-Tap
        mth: mt-hold-while-undecided {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            hold-while-undecided;
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };
        lth: lt-hold-while-undecided {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            hold-while-undecided;
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
        };
        // Encoders
        ag_p: alt-gui-positive {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp TAB>, <&kp RIGHT>;
            mods = <(MOD_LGUI)>;
            keep-mods = <(MOD_LGUI)>;
        };
        vol_alt_gui_p: volume-alt-gui-positive {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp C_VOL_UP>, <&ag_p>;
            mods = <(MOD_LALT|MOD_LGUI)>;
            keep-mods = <(MOD_LALT)>;
        };
        ag_n: alt-gui-negative {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(TAB)>, <&kp LEFT>;
            mods = <(MOD_LGUI)>;
            keep-mods = <(MOD_LGUI)>;
        };
        vol_alt_gui_n: volume-alt-gui-negative {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp C_VOL_DN>, <&ag_n>;
            mods = <(MOD_LALT|MOD_LGUI)>;
            keep-mods = <(MOD_LALT)>;
        };
        vol_alt_tab: volume-alt-tab {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&vol_alt_gui_n>, <&vol_alt_gui_p>;
            tap-ms = <10>;
        };

    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            label="Def";
            bindings = <
&kp Q          &kp W     &kp E    &kp R               &kp T                     &bootloader               &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A          &kp S     &kp D    &kp F               &kp G                                 &sqt          &kp H        &kp J  &kp K      &kp L    &semi
&kp Z          &kp X     &kp C    &kp V               &kp B            &lth FCN TAB         &kp LGUI      &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
&mt LCTRL ESC  &kp LGUI  &kp LALT &lth SYMBOL SPACE   &lth NAVNUM TAB  &minus               &kp LALT      &mt LSHFT RET                           &sqt
            >;
            sensor-bindings = <&vol_alt_tab>;
        };

        symbol_layer {
            label="Sym";
            bindings = <
&kp JP_EXCL  &kp JP_AT     &kp JP_HASH     &kp JP_DLLR         &kp JP_PRCNT            &bootloader                  &kp JP_YEN   &kp JP_GRAVE  &kp JP_ASTRK  &kp JP_LPAR  &kp JP_RPAR  
&kp JP_PLUS  &kp JP_MINUS  &kp JP_SLASH    &kp JP_ASTRK        &kp JP_EQUAL                           &kp JP_DQT    &kp LANG1    &kp JP_LBRC   &kp JP_LBKT   &kp JP_RBKT  &kp JP_COLON
&kp JP_PIPE  &kp JP_UNDER  &kp JP_TILDE    &kp JP_CARET        &kp JP_AMPS   &to DEFAULT              &to SYMBOL    &kp LANG2    &kp JP_RBRC   &kp JP_LT     &kp JP_GT    &kp JP_QMARK 
&trans       &trans        &trans          &trans              &trans        &trans                   &trans        &kp LS(RET)                                           &kp JP_DQT       
            >;
            sensor-bindings = <&vol_alt_tab>;
        };

        navnum_layer {
            label="Nav/Num";
            bindings = <
&kp N1    &kp N2     &kp N3    &kp N4    &kp N5           &bootloader        &kp N6    &kp N7    &kp N8   &kp N9    &kp N0   
&kp LC(A) &kp LSHIFT &mkp MCLK &mkp LCLK &mkp RCLK                 &trans    &kp UP    &kp LEFT  &kp DOWN &kp RIGHT &kp BSPC 
&kp LC(Z) &kp LC(X)  &kp LC(C) &kp LC(V) &kp LC(Y)   &kp CAPSLOCK  &kp PSCRN &kp PG_UP &kp PG_DN &kp HOME &kp END   &kp DEL   
&trans    &trans     &trans    &trans    &trans      &trans        &trans    &trans                                 &trans
            >;
            sensor-bindings = <&vol_alt_tab>;
        };

        function_layer {
            label="Fcn";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5   &bootloader      &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &kp F11 &kp F12
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;
            sensor-bindings = <&vol_alt_tab>;
        };
    };
};