#include <dt-bindings/zmk/matrix_transform.h>
#include "mona2.dtsi"

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};